@using MyJira.Services.DTO
@model List<ProjectDTO>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Created Date</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Id</td>
                <td>@project.Name</td>
                <td>@project.Code</td>
                <td>@project.CreatedAt</td>
                <td><a asp-controller="Ticket" asp-action="GetByProjectId" asp-route-projectId="@project.Id" class="text-decoration-none rounded-2 px-4 py-2 bg-danger text-white">tedt</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
