@using MyJira.Services.DTO
@model List<GetTaskLog>

@if (!Model.Any())
{
    <p class="text-muted">История пуста</p>
}
else
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">

                <div>
                    <strong>@item.MemberName</strong>
                    переместил задачу

                    <strong>
                        <a asp-controller="Ticket"
                           asp-action="GetById"
                           asp-route-id="@item.TicketId">
                            @item.TicketName
                        </a>
                    </strong>

                    <br />

                    <span class="badge bg-secondary">
                        @item.TicketBoardFrom
                    </span>

                    →

                    <span class="badge bg-primary">
                        @item.TicketBoardTo
                    </span>
                </div>

                <small class="text-muted">
                    @item.Time
                </small>

            </li>
        }
    </ul>
}
